asyncpg==0.30.0
beautifulsoup4==4.14.2
fastapi==0.120.1
fastapi-cli==0.0.7
google_auth_oauthlib==1.2.2
google-api-python-client==2.185.0
httpx==0.28.1
PyMuPDF==1.26.5
pandas==2.3.3
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pdfplumber==0.11.7
Pillow==12.0.0
playwright==1.55.0
email_validator==2.2.0
playwright-stealth==2.0.0
protobuf==6.33.0
pydantic==2.12.3
PyPDF2==3.0.1
python-dotenv==1.2.1
python_jose[cryptography]==3.5.0
pyzbar==0.1.9
reportlab==4.4.4
Requests==2.32.5
SQLAlchemy==2.0.44
validators==0.35.0
alembic==1.16.2
httptools==0.6.4
psycopg2-binary==2.9.10
pydantic-extra-types==2.10.5
undetected-chromedriver==3.5.5
webdriver-manager==4.0.2
python-multipart==0.0.20